<div class="home-container background">
  <div class="home-inner-container">
    <div class="col-sm-6 user-info-container">
      <img class="icon" src="<%= image_url('smile.png') %>" alt="">
      <h3>Welcome <%= @user.name %></h3>
    </div>

    <div class="col-sm-6 projects-container">
      <h3>Your projects</h3>
      <ul>
        <% @user.projects.each do |project| %>
        <li>
          <a href="<%= project_path(project) %>">
            <%= project.name %>
          </a>
        </li>
        <% end %>
      </ul>
      <div class="button-container">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Add a Project
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for @project do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Create a new project!</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :name, 'Project Name' %>
            <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create Project!</button>
        </div>
      <% end %>
    </div>
  </div>
</div>