<table>
  <thead>
    <th>Time</th>
    <th>Actor</th>
    <th>Verb</th>
    <th>Object</th>
    <th>Target</th>
  </thead>

  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td><%= event.created_at %></td>
      <td><%= event.actor %></td>
      <td><%= event.verb %></td>
      <td><%= event.object %></td>
      <td><%= event.target %></td>
    </tr>
    <% end %>
  </tbody>
</table>
