<div class="panel panel-default events-container">
  <div class="panel-heading">List of Recent Events</div>
  <div class="panel-body">
    <p>Pretty dope data right here...</p>
  </div>
  <table class="table">
    <thead>
      <th>Time</th>
      <th>Actor</th>
      <th>Verb</th>
      <th>Object</th>
      <th>Target</th>
    </thead>

    <tbody>
      <% @events.each do |event| %>
      <tr>
        <td><%= event.created_at.strftime("%_m/%d/%Y %H:%M:%S") %></td>
        <td><%= event.actor["name"] %></td>
        <td><%= event.verb %></td>
        <td><%= event.object["name"] %></td>
        <td><%= event.target && event.target["name"] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
