<div class="video-container">
  <video autoplay loop>
    <source src="<%= asset_url('bizteam.mp4') %>" type="video/mp4">
  </video>
  <div class="hero-text">
    <h1>BANAL</h1>
    <h2>Behavior analytics that <em>behave</em></h2>
  </div>
</div>
<div class="problems-container row">
  <div class="problems-inner-container col-12">
    <div class="row header-section">
      <h2>The most common analytics problem is:</h2>
      <img class="icon header-icon" src="<%= image_url('dot_chart.png') %>" alt="">
      <h2>a lack of structure</h2>
    </div>
    <div class="row story-line first">
      <img class="col-sm-4 icon" src="<%= image_url('neutral.png') %>" alt"">
      <div class="col-sm-8">
        <p>This is Ignacio.</p>
        <p>He is a developer.</p>
      </div>
    </div>
    <div class="row story-line second">
      <div class="col-sm-9">
        <p>He has been tasked with setting up analytics.</p>
      </div>
      <img class="col-sm-3 icon" src="<%= image_url('happy.png') %>" alt"">
    </div>
    <div class="row story-line centered">
      <div class="col-12">
        <p>Without any structure or guidance, he does what most developers do.</p>
        <h3>He tracks EVERYTHING.</h3>
      </div>
    </div>
    <div class="row story-line">
      <img class="col-sm-4 icon" src="<%= image_url('doubtful.png') %>" alt"">
      <div class="col-sm-8">
        <p>When it comes to analyzing the data, he is <em>overwhelmed</em> by the sheer amount of data.</p>
      </div>
    </div>
    <div class="row story-line">
      <div class="col-sm-8">
        <p>Leaving Ignacio really, really sad...</p>
      </div>
      <img class="col-sm-4 icon" src="<%= image_url('sad.png') %>" alt"">
    </div>

  </div>
</div>
<div class="solutions-container row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="header-text-container">
      <h2>How does BANAL solve this issue?</h2>
      <img src="<%= image_url('cat.png') %>" alt="" class="icon">
      <h3>BANAL is an opinionated data collection framework</h3>
    </div>
    <div class="col-sm-4 feature">
      <img class="icon" src="<%= image_url('stream.png') %>" alt"">
      <div class="text-container">
        <h4>Uses Activity Stream Specification</h4>
      </div>
    </div>
    <div class="col-sm-4 feature">
      <img class="icon" src="<%= image_url('check.png') %>" alt"">
      <div class="text-container">
        <h4>Easy to use API</h4>
      </div>
    </div>
    <div class="col-sm-4 feature">
      <img class="icon" src="<%= image_url('chart.png') %>" alt"">
      <div class="text-container">
        <h4>Detailed tables for segmentation</h4>
      </div>
    </div>
  </div>
</div>
<div id="works" class="works-container row">
  <div class="works-inner-container">
    <div class="works-header">
      <h2>How it works</h2>
      <img src="<%= image_url('gears.png') %>" alt="" class="icon">
    </div>
    <div class="works-step">
      <h3>BANAL makes use of the ActivityStream Spec.</h3>
      <div class="works-step-description">
        <h5>A data collection spec used at companies like Facebook, Myspace, and the BBC.</h5>
        <h5>You can find its documentation <a href="http://www.w3.org/wiki/Activity_Streams">here</a></h5>
      </div>
    </div>
    <div class="works-step">
      <h3>In summary the spec structure is: </h3>
      <div class="works-step-description">
        <h4><code>[Actor] [verbs] an [object], sometimes to a [TARGET]</code></h4>
        <h5>Ex: [Bobby] [uploaded] ['Foo.jpg'] to his [profile]</h5>
        <h5>Ex: [JSuzie] [deleted] ['The Way of the Gun']</h5>
      </div>
    </div>
    <div class="works-step">
      <h3>Using this spec, you make calls to our API</h3>
      <div class="works-step-description">
        <h5>So when Bobby uploads 'Foo.jpg' to his profile, you would run:</h5>
        <div class="code-snippet">
          <code>$.ajax("http://simple-track.r15.railsrumble.com/api/events", {</code><br />
          <code>&nbsp;&nbsp;method: "PUT",</code></br />
          <code>&nbsp;&nbsp;data: {</code><br />
          <code>&nbsp;&nbsp;&nbsp;&nbsp;actor: '{ "name": "Bobby" }',</code><br />
          <code>&nbsp;&nbsp;&nbsp;&nbsp;verb: "uploaded",</code><br />
          <code>&nbsp;&nbsp;&nbsp;&nbsp;object: '{ "name": "Foo.jpg", "type": "image" }',</code><br />
          <code>&nbsp;&nbsp;&nbsp;&nbsp;target: '{ "name": "profile" }',</code><br />
          <code>&nbsp;&nbsp;},</code><br />
          <code>&nbsp;&nbsp;headers: {</code><br />
          <code>&nbsp;&nbsp;&nbsp;&nbsp;"X-AUTHTOKEN": "YOUR_TOKEN"</code></br>
          <code>&nbsp;&nbsp;}</code></br>
          <code>})</code><br />
        </div>
      </div>
    </div>
    <div class="works-step">
      <h3>Then log in to see your data!</h3>
      <table class="table">
        <thead>
          <th>Time</th>
          <th>Actor</th>
          <th>Verb</th>
          <th>Object</th>
          <th>Target</th>
        </thead>

        <tbody>
          <tr>
            <td>
              <p><%= Time.now.strftime("%_m/%d/%Y") %></p>
              <p><%= Time.now.strftime("%l:%M:%S %p (%Z)") %></p>
            </td>
            <td>Bobby</td>
            <td>uploaded</td>
            <td>Foo.jpg</td>
            <td>Profile</td>
          </tr>
          <tr>
            <td>
              <p><%= Time.now.strftime("%_m/%d/%Y") %></p>
              <p><%= Time.now.strftime("%l:%M:%S %p (%Z)") %></p>
            </td>
            <td>JSuzie</td>
            <td>deleted</td>
            <td>The Way of the Gun</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <h3>And query your data!</h3>
      <input type="text" class="form-control" placeholder='Example: actor.name="Michael Bolton" OR target.name="Greatest Hits" AND verb=like'>
    </div>
    <div class="icon-container">
      <img src="<%= image_url('standing_cat.png') %>" alt="" class="icon">
    </div>
  </div>
</div>
<div id="quick-start" class="quick-start-container">
  <h2>Try BANAL in your project!</h2>
  <img src="<%= image_url('celebration.png') %>" alt="" class="icon">
  <h2>Quick start guide</h2>
  <div class="quick-start-step">
    <h3>1) Create an account</h3>
    <div class="row">
      <img src="<%= image_url('pixel_cat.png') %>" alt="" class="icon col-xs-3">
      <h5 class="col-xs-9">Click this <a href="/login" target="_blank">link</a> to create an account!</h5>
    </div>
  </div>
  <div class="quick-start-step">
    <h3>2) Create a project and get your unique token</h3>
    <div class="row">
      <img src="<%= image_url('token.png') %>" alt="" class="icon col-xs-3">
      <h5 class="col-xs-9">Put this token in your code base where we tell you to. Security is very important to us!</h5>
    </div>
  </div>
  <div class="quick-start-step">
    <h3>3) Make calls to the API when your users make actions!</h3>
    <div class="row">
      <img src="<%= image_url('users.png') %>" alt="" class="icon col-xs-3">
      <h5 class="col-xs-9">Simply send a JSON object with an actor, a verb, an object, and a target (optional).</h5>
    </div>
  </div>
  <div class="quick-start-step">
    <h3>5) Log back in periodically to find useful insights about your users</h3>
    <div class="row">
      <img src="<%= image_url('inspection.png') %>" alt="" class="icon col-xs-3">
      <h5 class="col-xs-9">What features are being used? What's not? Mystery no more!</h5>
    </div>
  </div>
  <div class="icon-container">
    <img src="<%= image_url('smirking_cat.png') %>" alt="" class="icon">
  </div>
  <h2>You'll be glad you used BANAL!</h2>
</div>
<div id="demo" class="demo-container">
  <a href="<%= project_path(Project.demo) %>" class="btn"><p>See The Demo!</p></a>
</div>
<script type="text/javascript">
  var rumbleBannerBackgroundColor, rumbleBannerTextColor, rumbleBannerLinkColor, rumbleBannerPlacement;
  rumbleBannerBackgroundColor = "#161616";
  rumbleBannerTextColor = "#b0b0b0";
  rumbleBannerLinkColor = "#ffffff";
  rumbleBannerPlacement = "bottom"; // Optionally replace with "bottom".
</script>
<script src="https://d4nnn7wspfa3h.cloudfront.net/banner-2015.js" type="text/javascript"></script>
