<%= render "shared/nav_bar" %>
<div class="video-container">
  <video autoplay loop>
    <source src="<%= asset_url('bizteam.mp4') %>" type="video/mp4">
  </video>
  <div class="hero-text">
    <h1>BANAL</h1>
    <h2>Behavior analytics that <em>behave</em></h2>
  </div>
</div>
<div class="problems-container row">
  <div class="problems-inner-container col-12">
    <div class="row header-section">
      <h2>The most common analytics problem is:</h2>
      <img class="icon header-icon" src="<%= image_url('dot_chart.png') %>" alt="">
      <h2>a lack of structure</h2>
    </div>
    <div class="row story-line first">
      <img class="col-sm-4 icon" src="<%= image_url('neutral.png') %>" alt"">
      <div class="col-sm-8">
        <p>This is Ignacio.</p>
        <p>He is a developer.</p>
      </div>
    </div>
    <div class="row story-line second">
      <div class="col-sm-9">
        <p>He has been tasked with setting up analytics.</p>
      </div>
      <img class="col-sm-3 icon" src="<%= image_url('happy.png') %>" alt"">
    </div>
    <div class="row story-line centered">
      <div class="col-12">
        <p>Without any structure or guidance, he does what most developers do.</p>
        <h3>He tracks EVERYTHING.</h3>
      </div>
    </div>
    <div class="row story-line">
      <img class="col-sm-4 icon" src="<%= image_url('doubtful.png') %>" alt"">
      <div class="col-sm-8">
        <p>When it comes to analyzing the data, he is <em>overwhelmed</em> by the sheer amount of data.</p>
      </div>
    </div>
    <div class="row story-line">
      <div class="col-sm-8">
        <p>Leaving Ignacio really, really sad...</p>
      </div>
      <img class="col-sm-4 icon" src="<%= image_url('sad.png') %>" alt"">
    </div>

  </div>
</div>
<div class="solutions-container row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="header-text-container">
      <h2>How does BANAL solve this issue?</h2>
      <img src="<%= image_url('cat.png') %>" alt="" class="icon">
      <h3>BANAL is an opinionated data collection framework</h3>
    </div>
    <div class="col-sm-4 feature">
      <img class="icon" src="<%= image_url('stream.png') %>" alt"">
      <div class="text-container">
        <h3>Uses Activity Stream Specification</h3>
      </div>
    </div>
    <div class="col-sm-4 feature">
      <img class="icon" src="<%= image_url('check.png') %>" alt"">
      <div class="text-container">
        <h3>Easy to use API</h3>
      </div>
    </div>
    <div class="col-sm-4 feature">
      <img class="icon" src="<%= image_url('chart.png') %>" alt"">
      <div class="text-container">
        <h3>Detailed charts</h3>
      </div>
    </div>
  </div>
</div>
<div id="demo" class="demo-container row">
  <h2>How it works</h2>
</div>
