<div class="events-outer-container background">
  <div class="panel panel-default events-container">
    <button type="button" class="settings-button" data-toggle="modal" data-target="#settingsModal">
      <img src="<%= image_url('cog.png') %>" alt="" class="icon">
    </button>

    <div class="panel-heading"><h4>Recent Events for: <%= @project.name %></h4></div>

    <div class="panel-body">
      <div id="event-viewport">
        <table class="table table-hover events-table">
          <thead>
            <th>Time</th>
            <th>Actor</th>
            <th>Verb</th>
            <th>Object</th>
            <th>Target</th>
          </thead>

          <tbody>
            <% @search.results.each do |event| %>
            <tr class="json-row">
              <td>
                <p><%= event.created_at.strftime("%_m/%d/%Y") %></p>
                <p><%= event.created_at.strftime("%l:%M:%S %p (%Z)") %></p>
              </td>
              <td class="json-row">
                <span class="summary"><%= event.actor["name"] %></span>
                <div class="details">
                  <table class="table table-condensed">
                    <% event.actor.each do |(key, value)| %>
                    <tr>
                      <td><strong><%= key %></strong></td>
                      <td><%= value %></td>
                    </tr>
                    <% end %>
                  </table>
                </div>
              </td>
              <td><%= event.verb %></td>
              <td class="json-cell">
                <span class="summary"><%= event.object["name"] %></span>
                <div class="details">
                  <table class="table table-condensed">
                    <% event.object.each do |(key, value)| %>
                    <tr>
                      <td><strong><%= key %></strong></td>
                      <td><%= value %></td>
                    </tr>
                    <% end %>
                  </table>
                </div>
              </td>
              <td class="json-cell">
                <span class="summary"><%= event.target && event.target["name"] %></span>
                <div class="details">
                  <table class="table table-condensed">
                    <% event.target.try(:each) do |(key, value)| %>
                    <tr>
                      <td><strong><%= key %></strong></td>
                      <td><%= value %></td>
                    </tr>
                    <% end %>
                  </table>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel-footer">
      <%= form_for @search, method: :get, url: url_for(project_path(@search.project)) do |f| %>
        <div class="input-group" >
          <label for="search_q" class="input-group-addon">
            <div class="glyphicon glyphicon-search"></div>
          </label>

          <%= f.text_field :q, name: 'q', class: 'form-control', placeholder: 'name="Billy Joel"' %>
        </div>
      <% end %>
    </div>
    <button type="button" class="help-button" data-toggle="modal" data-target="#helpModal">
      <img src="<%= image_url('help.png') %>" alt="" class="icon">
    </button>
  </div>
</div>


<!-- Help Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">How to use the query</h4>
      </div>
      <div class="modal-body">
        <p>Use the search box to find the events you are looking for!</p>
        <p><strong>Examples:</strong></p>
        <ul class="list-unstyled">
          <li>
            <code>object.method=GET</code>:
            search for events where
            <code>object</code>
            has the<code>method</code> <code>GET</code>.
          </li>
          <li>
            <code>verb=visit</code>: search for events with the <code>verb</code> <code>visit</code>.
          </li>
          <li>
            <code>magic</code>: search all fields for <code>magic</code>.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Settings Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Token for <%= @project.name %></h4>
      </div>
      <div class="modal-body">
        Token: <code><%= @project.token %></code>
        <p class="text-muted">This token is used to add events to your project. Please keep this token secret!</p>
        <div>
          <%= button_to('Regenerate Token',
                        project_reset_token_path(@project),
                        method: :post,
                        data: { confirm: 'Are you sure? This will invalidate your existing token.' },
                        class: 'btn btn-danger') %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
