<div class="events-outer-container background">
  <div class="panel panel-default events-container">
    <div class="panel-heading"><h4>Recent Events for: <%= @project.name %></h4></div>

    <div class="panel-body">
      <div id="event-viewport">
        <table class="table table-hover events-table">
          <thead>
            <th>Time</th>
            <th>Actor</th>
            <th>Verb</th>
            <th>Object</th>
            <th>Target</th>
          </thead>

          <tbody>
            <% @search.results.each do |event| %>
            <tr class="json-row">
              <td>
                <p><%= event.created_at.strftime("%_m/%d/%Y") %></p>
                <p><%= event.created_at.strftime("%l:%M:%S %p (%Z)") %></p>
              </td>
              <td class="json-row">
                <span class="summary"><%= event.actor["name"] %></span>
                <div class="details">
                  <table class="table table-condensed">
                    <% event.actor.each do |(key, value)| %>
                    <tr>
                      <td><strong><%= key %></strong></td>
                      <td><%= value %></td>
                    </tr>
                    <% end %>
                  </table>
                </div>
              </td>
              <td><%= event.verb %></td>
              <td class="json-cell">
                <span class="summary"><%= event.object["name"] %></span>
                <div class="details">
                  <table class="table table-condensed">
                    <% event.object.each do |(key, value)| %>
                    <tr>
                      <td><strong><%= key %></strong></td>
                      <td><%= value %></td>
                    </tr>
                    <% end %>
                  </table>
                </div>
              </td>
              <td class="json-cell">
                <span class="summary"><%= event.target && event.target["name"] %></span>
                <div class="details">
                  <table class="table table-condensed">
                    <% event.target.try(:each) do |(key, value)| %>
                    <tr>
                      <td><strong><%= key %></strong></td>
                      <td><%= value %></td>
                    </tr>
                    <% end %>
                  </table>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel-footer">
        <%= form_for @search, method: :get, url: url_for(project_path(@search.project)) do |f| %>
          <div class="input-group" >
            <label for="search_q" class="input-group-addon">
              <div class="glyphicon glyphicon-search"></div>
            </label>

            <%= f.text_field :q, name: 'q', class: 'form-control', placeholder: 'name="Billy Joel"' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
