<div class="events-outer-container background">
  <div class="panel panel-default events-container">
    <div class="panel-heading">List of Recent Events for <%= @project.name %></div>

    <div class="panel-body">
      <div id="event-viewport">
        <table class="table">
          <thead>
            <th>Time</th>
            <th>Actor</th>
            <th>Verb</th>
            <th>Object</th>
            <th>Target</th>
          </thead>

          <tbody>
            <% @search.results.each do |event| %>
            <tr>
              <td>
                <p>
                  <%= event.created_at.strftime("%_m/%d/%Y") %>
                </p>
                <p><%= event.created_at.strftime("%l:%M:%S %p (%Z)") %></p></td>
              <td><%= event.actor["name"] %></td>
              <td><%= event.verb %></td>
              <td><%= event.object["name"] %></td>
              <td><%= event.target && event.target["name"] %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel-footer">
        <%= form_for @search, method: :get, url: url_for(project_path(@search.project)) do |f| %>
          <div class="input-group" >
            <label for="search_q" class="input-group-addon">
              <div class="glyphicon glyphicon-search"></div>
            </label>

            <%= f.text_field :q, name: 'q', class: 'form-control', placeholder: 'name="Billy Joel"' %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
